body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-class {
  width: 90%;
  height: 33px;
  font-size: 17px;
  margin: 0 auto 20px;
  padding: 5px 10px;
  border: 1px solid #d9d9d9;    
  border-radius: 3px;
}

.form-class {
  margin: 0px;
  padding-bottom: 60px;
  border: none;
}

.button-class {
  background: #024e8a;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  padding: 15px 25px;
  font-weight: bold;
  margin: 10px auto;
  width: 265px;
  border: none;
}

.div-class {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin-top: 30px;
}

.label-class {
  font-size: 23px;
  margin-top: 10px;
  margin-left: 50px; 
}

.image-class {
  margin-left: 35px; 
}

.p-class {
  margin-left: 50px; 
  margin-top: 10;
}

.ml-35 {
  margin-left: 45px; 
}

.mt-25 {
  margin-top: 45px; 
}

.mtop-8 {
  margin-top: -8px; 
}

.div-list {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  border-bottom: 1px solid #024e8a;
}


.container-autor-page {
  justify-content: space-around;
  background-color: #DED9D9;
  opacity: 0.9;
  min-height: 500px;
  margin-top: 80px;
  width: 100%;
}

.box1 {
  margin-top: 40px;  
}

.box2 {
  margin-top: 80px; 
  text-align: center;
}

.description {
  font-size: 14px; 
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: black;
}

.avatar {
  border-radius: 50%;
  border: 20px solid white;
}

.round {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: 40px;
}

.image-author {
  border-radius: 3%;
}

.align-text-center {
  text-align: center;
}

.descarga {
  background:#676165;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 10px 18px;
    font-weight: bold;
    margin: 10px auto;
    width: 165px;
    border: none;
}

.author-name {
  margin-top: 15px;
  font-size: 15px;
  font-family: "Arial";
  font-weight: 700;
  color: #111;
  text-align: center;
}

.mg-0-auto {
  margin: 0 auto;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


  
  #modal-text{
    font-size: 24px;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 200;
  }
  
  #modal-title{
    
    text-align: center;
    font-size: 28px;
    
  }
  
  .modal {
    max-height: 60%;
  }
  
  #btn-compra{
    margin-top: 10px;
  }
  
  /* ==========================================================================
    INDEX
     ========================================================================== */
  
  
  nav ul a{
      text-decoration: none;
      color: black;
      font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 12px;
      
  }
  
  
  nav ul a:active{
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-bottom: 1px solid black !important;
}
  

  
  .link_autor {
      color: #666666;
      text-decoration: none;
      font-size: 11px;
     
  }
  
  .link_autor:hover {
      color: #666666;
      text-decoration: none;
     
  }
  
  
  
  .jumbotron p {
      margin-bottom: 10px;
  
  }
  
  .jumbotron {
      padding-bottom: 0px;
  
  }
  
  .nome_libro{
      color: #000 !important;
    font-size: 15px !important;
    margin-top: -10px !important;
    font-weight: bold !important;
  }
  
  .nome_autore{
      color: #000;
    font-size: 15px !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
  }
  
  .imagen {
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -khtml-box-shadow: 5px 5px 5px #ccc;
  }
  
  .imagen_maxime {
    margin-top: -5px;
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -khtml-box-shadow: 5px 5px 5px #ccc;
  }
  
  .nome_libro_maxime {
    color: #000 !important;
    font-size: 11px !important;
    margin-top: -14px !important;
    font-weight: bold !important;
  }
  
  .box1_librerias {
    margin-top: 20px !important;
    margin-left: 0px !important;
    color: #666666 !important;
    font-size: 10px !important;
    line-height: 10px !important;
    font-family: "Arial" !important;
  }
  .box1_price {
    margin-top: -5px !important;
    margin-left: 0px !important;
    color: #000 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    line-height: 10px !important;
    font-family: "Arial" !important;
  }
  
  .btn_link {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Raleway-Light';
    color: #fff;
    font-size: 15px;
    padding: 10px 14px 10px 14px;
    border: solid #ccc;
    text-decoration: none;
    background-color: #ccc;
    
  }
  
  a, a:hover {
    color: #000;
    font-weight: 500;
    text-decoration:none;
  }
  
  
  .footer {
      padding: 30px 0;
      margin-top: 80px;
      margin-bottom: 0px;
      background-color: #F0F0F0;
  }
  
  #partners {
      text-align: right;
  }
  
  
  
  
  
  /* ==========================================================================
   LIBROS
     ========================================================================== */
  
  
  
  
  
  #escalones_logo {
    margin-top: 60px;
    width:210px;
  }
  
  
  #enserio_logo {
    margin-top: 60px;
    width:210px;
  }
  
  
  .text_book_lib {
    margin-top: 10px;
    color: #676165;
    font-size: 13px;
    line-height: 1.3;
    width:210px;
    text-align:justify;
    font-family:"Lato";
    font-weight:300;
  }
  .collecion {
    margin-top: 10px;
  
    font-size: 12px;
    font-family:Lato;
  }
  
  .escalones {
    margin-top: -10px;
    color: #000;
    font-size: 19px;
    font-family:"Lato";
  }
  #content_first_libros {
    background-color: #DED4B9;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-top: 30px;
  }
  
  
  .fila1 {
    margin-top: 50px;
  }
  
  #content_first_escalones {
    background-color: #FFEDBE;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-bottom: 40px;
  }
  
  #content-home {
    margin-left: 0px;
  }
  
  
  .escalones-container{
    margin-top: 10px;
    background-color: #FFEDBE !important;
    opacity: 0.9;
    padding-bottom: 50px;
  }
  
  
  .enserio-container{
    margin-top: 10px;
    background-color: #DFE4D0 !important;
    opacity: 0.9;
    padding-bottom: 50px;
  }
  
  
  .titol_pagina_editorial {
    margin-top: 30px;
    margin-bottom: 60px !important;
    color: #111;
    font-size: 35px !important;
    line-height: 1.3;
    font-family: "Lato";
    font-weight: 100;
    text-align: center;
  }
  
  
  .titolo_libro_hasek {
  
      color: #000 !important;
    font-size: 10px !important;
    margin-top: -10px !important;
    font-weight: bold !important;
    line-height: 0.9;
    margin-bottom: 15px !important;
  }
  
  .titolo_libro_maxime {
  
      color: #000 !important;
    font-size: 13px !important;
    margin-top: -10px !important;
    font-weight: bold !important;
    line-height: 1.0;
    margin-bottom: 10px !important;
  }
  
  .nome_autore_hasek {
    color: #666666;
      text-decoration: none;
      font-size: 11px;
    margin-bottom: -5px !important;
    
  }
  
  .nome_autore_hasek:hover {
      color: #666666;
      text-decoration: none;
     
  }
  
  .imagen_hasek {
    margin-top: -11px;
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -khtml-box-shadow: 5px 5px 5px #ccc;
  }
  
  .imagen_maxime {
    margin-top: -5px;
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -khtml-box-shadow: 5px 5px 5px #ccc;
  }
  
  #content_second {
    margin-left: -8px;
    background-color: #DFE4D0 !important;
    margin-top: -31px;
    opacity: 0.9;
  }
  
  
  /* ==========================================================================
   LIBROS
     ========================================================================== */
  
  
  .content_first_autores {
    background-color: #D4E3EC;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-top: 0px;
  }
  
  
  .author-list-title {
    margin-top: 30px;
    color: #111;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
    font-family: "Lato";
    font-weight: 100;
  }
  
  .nome_autor_aut {
    margin-top: 15px;
    font-size: 12px;
    font-family: "Arial";
    font-weight: 700;
    color: #111;
    text-align: center;
  }
  
  .img_autores_aut {
    margin-top: 30px;
    width: 170px;
  }
  
  
  
  #content_second_autores {
    background-color: #D4E3EC;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-top: -1px;
  }
  
  
  /* *************************************
  * ***************DISTRIBUCION************
  * ************************************ */
  
  
  #content_first_distribucion {
    background-color: #ede4a2;
    margin-top: 10px;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-bottom: 40px;
  }
  #titol_pagina_distribucion {
    margin-top: 30px;
    color: #111;
    font-size: 35px;
    line-height: 1.3;
    font-family: "Lato";
    font-weight: 100;
    text-align: center;
  }
  
  .distr_address {
    margin-top: 75px;
    line-height: 15px;
    text-align: center;
    color: #111;
    font-size: 12px;
  }
  hr {
    border: 0;
    height: 0;
    border-top: 4px double white;
    text-align: center;
  }
  hr:after {
    position: relative;
    top: -18px;
    content: "\25cf\25cf\25cf";
    font-size: 34px;
    line-height: 34px;
    color: black;
  }
  /* *************************************
  * ***************END DISTRIBUCION************
  * ************************************ */
  
  
  /* *************************************
  * ***************EDITORIAL************
  * ************************************ */
  
  
  
  .content_first_editorial {
    background-color: #F3ECCE;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 100px;
    line-height: 21px;
  }
  .titol_pagina_editorial {
    margin-top: 30px;
    color: #111;
    font-size: 35px;
    line-height: 1.3;
    font-family: "Lato";
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  .img_editorial {
    margin-top: -25px;
    text-align: center;
  }
  .div_editorial {
    text-align: center;
    
  }
  .text_editorial {
    
    margin-top: 30px;
    text-align: justify;
    size:17px;
    color:#676165;
  }
  
  
  
  /* *************************************
  * ***************CONTACTOS************
  * ************************************ */
  
  
  #content_first_contactos {
    background-color: #D4D3C3;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
  }
  #div_contactos {
    text-align: center;
    margin-top: 40px;
  }
  #inscribete {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 28px;
  }
  
  form p {
      margin-bottom: 10px;
      text-align: left;
      font-size: 20px;
      margin-top: 30px;
  }
  
  #submit {
    color: #FFF;
    font-size: 13;
    width: 100px;
    height: 32px;
    border: none;
    margin-bottom: 20px;
    padding: 0;
    background-color: #474747;
  }
  #scroll {
    font-size: 8px;
  }
  
  
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
      position: relative;
      left: 0px;
      opacity: 1;
      
  }
  
  
  label:before, label:after {
      display: none;
  }
  
  
  .condiciones{
    font-size: 10px;
  }
  
  
  #content_first_la_chaqueta_verde {
    background-color: #F1F2DA;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-top: 10px;
    
  }
  
  
  #tabla {
    margin-top: -5px;
    
  
  
  }
  
  
  table {     
      font-size: 13px;    margin: 0px;     width: 320px; text-align: left;    border-collapse: collapse; }
  
  
  td {    padding: 6px;        border-bottom: 1px solid #7F7F7F;
      color: #000;    border-top: 1px solid transparent; }
  
  #content_first_soldati {
    background-color: #DED9D9;
    opacity: 0.9;
    width: 100%;
    min-height: 450px;
    margin-top: 10px;
    
  }
  #arrow_left {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .fila2 {
    margin-top: 50px;
    width: 150px;
    margin-left: 70px;
  }
  
  h5{
    margin-top: 30px;
  }
  
  .foto_libro_autor{
    margin-bottom: 30px;
  }
  
  
  #descarga_foto_autor {
    margin-top: 20px;
    margin-left: 12px;
  }
  
  
  #u1147_img {
    margin-top: 10px;
    margin-left: 280px;
  }
  #u1152-10 {
    z-index: 55;
    text-align: left;
    font-size: 12px;
    color: #5B5A5A;
    line-height: 14px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    margin-left: 25px;
    margin-top: 20px;
    position: relative;
  }
  #u120-8 {
    z-index: 8;
    min-height: 30px;
    position: relative;
  }
  #u120-2 {
    font-size: 25px;
    margin-left: 0px;
    text-align: left;
    line-height: 15px;
    font-weight:500;
    color: #000;
  }
  #u120-4 {
    font-size: 16px;
    margin-left: 0px;
    text-align: left;
    margin-top: -5px;
    line-height: 19px;
    color: #7F7F7F;
    
  }
  #u120-5 {
    font-size: 16px;
    margin-left: 18px;
    text-align: left;
    line-height: 19px;
    color: #8B1E60;
    
  }
  #u119-6 {
    z-index: 2;
    font-size: 15px;
    color: #5B5A5A;
    line-height: 16px;
    
    margin-left: 0px;
    margin-top: 5px;
    position: relative;
  }
  #u121-7 {
    font-size: 15px;
    z-index: 16;
    min-height: 18px;
    
    margin-left: 0px;
    margin-top: 10px;
    position: relative;
    color: #000;
  }
  #u121 {
    font-size: 14px;
    color: #5B5A5A;
  }
  #u121-7 a:link {
    text-decoration: none;
  }
